@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$default_family: 'Roboto', Arial, sans-serif;
$text_color: #888888;

body {
	min-width: 320px;
	position: relative;
	color: $text_color;
  line-height: 1.2;
  font-family: $default_family;
  font-weight: normal;
  overflow-x: auto;
  opacity: 1;
  overflow: hidden
}

h2 {
  color: red;
}
a {
  &:hover {
    text-decoration: none !important;
  }
}

$grid-gutter-width: 20px;
$grid-columns: 15;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1370px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1330px);

$gutter: $grid-gutter-width;

@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/utilities/_spacing.scss';
@import '~bootstrap/scss/utilities/_sizing.scss'