@import "./fonts";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$default_family: Roboto, Arial, sans-serif;
$text_color: #888888;

body {
	min-width: 320px;
	position: relative;
	color: $text_color;
  line-height: 1.2;
  font-family: $default_family !important;
  font-weight: normal;
  overflow-x: auto;
  opacity: 1;
  overflow: hidden
}

img {
  max-width: 100%;
}

a {
  &:hover {
    text-decoration: none !important;
  }
}

.apexchart {
  &__title {
      font-size: 18px;
      font-weight: 500;
      text-align: center;
  }
  &__text {
      font-size: 14px;
      font-weight: normal;
  }
}

.apexcharts {
  &-toolbar {
    display: none;
  }
  &-menu-icon {
    display: none !important;
  }
}

// $grid-gutter-width: 20px;
$grid-gutter-width: 5px;
$grid-columns: 16;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1370px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1330px);

$gutter: $grid-gutter-width;

@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/utilities/_spacing.scss';
@import '~bootstrap/scss/utilities/_sizing.scss'